@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    min-height: 100vh;
    font-style: normal;
    font-family: var(--roboto);
    background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #F5F5F5 100%);
}

body>* {
    flex-shrink: 0;
}

body>.main {
    flex-grow: 1;
}

ol.list-none,
ul.list-none {
    list-style-type: none;
}

a,
button,
label,
textarea,
input,
span {
    display: inline-block;
    font-weight: inherit;
    font-family: inherit;
}

a,
button,
label,
textarea,
input {
    cursor: pointer;
}

img,
svg {
    display: block;
    width: 100%;
    height: auto;
}

/*Container*/

.container {
    max-width: calc(1200px + 30px);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/*Header*/

.header {
    padding: 44px 0 25px;
}

.header__top {
    background: #FFF;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__controls>*+* {
    margin-left: 8px;
}

.header__controls .button {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
}

/*Button*/

.button {
    background: transparent;
    border: none;
    outline: none;
    padding: 8px 16px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.button-primary {
    border-radius: 2px;
    background: #1890FF;
}

.button-outline {
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color: #595959;
}

/* Banner */

.banner {
    padding: 18px 0 58px;
}

.banner__item {
    border-radius: 10px;
    background: #FFF1B8;
    padding: 68px 70px;
    position: relative;
    overflow: hidden;

}

.banner__item::after {
    content: "";
    display: block;
    position: absolute;
    max-width: 908px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    background: url("./../images/banner-image.png"), 50% / cover no-repeat;
    background-position: center left;
    top: 0;
    right: 0;
}

.banner__content {
    max-width: 540px;
    position: relative;
    z-index: 2;
}

.banner__content>*+* {
    margin-top: 15px;
}

.banner__text {
    color: #302C34;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

/* Title */

.title {
    color: #302C34;
    font-size: 39px;
    font-weight: 700;
    line-height: normal;
}

.title-2 {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.title-3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

/* restaurants */

.restaurants__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.restaurants__products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 24px;
    padding: 44px 0 90px;
}

.product {

    width: 100%;
}

.product__imageholder {
    height: 250px;
    overflow: hidden;
    border-radius: 7px 7px 0px 0px;
}

.product__imageholder img {
    height: 100%;
}

.product__content {
    padding: 20px 24px;
    border-radius: 7px;
    background: var(--Gray-gray-1, #FFF);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.product__content>*+* {
    margin-top: 10px;
}

.product__badge {
    color: #FFF;
    font-size: 12px;
    line-height: 20px;
    padding: 1px 8px;
    border-radius: 2px;
    background: #262626;
}

.product__content_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__content__extra>*+* {
    margin-left: 10px;
}

.product__content__extra {
    color: #8C8C8C;
    font-size: 18px;
    line-height: 32px;
}

.product__content_bottom {
    display: flex;
    column-gap: 26px;
}

.product__desc {
    color: #8C8C8C;
    font-size: 18px;
    line-height: normal;
}

.product .button {
    display: inline-flex;
    column-gap: 4px;
    align-items: center;
}

.product__bottom {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

/* Form */

.form__search_button {
    padding: 0 !important;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.label {
    position: relative;
}

.input {
    width: 306px;
    padding: 5px 12px 5px 32px;
    border: none;
    outline: none;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color: #000;
    font-size: 16px;
    line-height: 24px;
}

/* footer */
.footer {
    background: #FFF;
    padding: 60px 0;
}

.footer__row {
    display: flex;
    gap: 35px;
    flex-direction: column;
    align-items: center;
}

.footer .logo {
    width: 100px;
}

.footer__nav {
    flex-grow: 1;
    text-align: center;
}

.footer__nav>*+* {
    margin-left: 15px;
}

.footer__nav_link {
    color: #595959;
    font-size: 18px;
    line-height: normal;
}

.footer__nav_link:hover {
    text-decoration: underline;
}

.footer a {
    text-decoration: none;
}

.footer__socials>*+* {
    margin-left: 21px;
}

/* goods */

.goods__top {
    justify-content: flex-start;
    gap: 30px;
}

.goods__top_extra {
    display: flex;
    column-gap: 26px;
}

.goods .title-3 {
    font-weight: 400;
}


/* Other */

.star {
    color: #FFC107;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}

.star>*+* {
    margin-left: 7.5px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}



@media (min-width: 840px) {
    .product {
        max-width: calc((100% - 24px) / 2);
    }

    .footer__nav {
        text-align: left;
    }

    .footer__row {
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media(min-width: 1230px) {
    .restaurants__products {
        justify-content: flex-start;
    }

    .product {
        max-width: calc((100% - 48px) / 3);
    }


}